/* HTML elements */
body{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900 !important;
}












/* Classes */

.navbar{
    padding: 0 0 2.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 1rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}
.container-fluid{
    padding: 3% 10%;
}
.download-button{
    margin: 5% 3% 5% 0%;
}
.title-image{
    width: 60%;
    transform: rotate(20deg);
}
.icons{
    font-size: 5rem;
    color: #ef8172;
    margin-bottom: 1rem;
}
.feature-box{
    text-align:center;
    font-family: 'Lato',sans-serif;
}
.subheading{
    color: #8f8f8f;
}










/* IDs */
#title{
    background-color: #FF4C68;
    color: white;
}
#top-h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 4rem;
}
#features{
    padding: 7% 10%;
}